In [299]:
import numpy as np
import pandas as pd

In [300]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [301]:
x=pd.read_csv("/content/drive/MyDrive/tennis.csv")
x

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

This Attribute Class Helps to find the probability of all unique values in an attribute

In [303]:
class Attribute:
  def __init__(self,attribute,classattr,name):
    self.values={}
    self.attribute=attribute
    self.classattr=classattr
    self.name=name
  def print(self):
    for i,j in self.values.items():
      print(i,j)
  def Probability(self):
    #Getting the unique values in the class attribute(last attribute)
    z,counts=np.unique(self.attribute,return_counts="True")
    #Getting the unique values of the given attribute
    y,counts2=np.unique(self.classattr,return_counts="True")
    for i in z:
      list1=[]
      for j in range(len(y)):
        count=0
        for k in range(len(self.classattr)):
          if(self.classattr[k]==y[j] and self.attribute[k]==i):
            count=count+1
        list1.append(count/counts2[j])
      self.values[i]=list1

This Naive Bayes class is used to calculate the probablities of all unique values in all attributes by calling the Attribute class

In [306]:
class Naive_bayes:
  def __init__(self,x):
    self.dataframe=x
    self.attrbiuteobjects=[]
    self.uniqueclass=[]
    self.count=[]
  def ProbabilityCalculation(self):
    classcol=x.iloc[:,-1]
    self.uniqueclass,self.count=np.unique(classcol,return_counts="True")
    data=x.iloc[:, :-1]
    for i in data:
      col=x.loc[:,i]
      #Creating an object of Attribute class with an attribute
      obj=Attribute(col,classcol,i)
      #Calling the Probability function of attribute class to calculate probability
      obj.Probability()
      #Appending the object addresses to access later
      self.attrbiuteobjects.append(obj)
  def PrintProb(self):
    print(self.uniqueclass)
    for i in self.attrbiuteobjects:
      print("probabbilities of each attribute :")
      i.print()
  #This Testing function is used to estimate the probabilities of class attributes for a new example
  def Testing(self,textexample):
    totalsum=sum(self.count)
    print(textexample)
    totalprob=[]
    #appending the probalities of class values(i.e yes ,no ,etc...)
    for i in  range(len(self.uniqueclass)):
      totalprob.append(self.count[i]/totalsum)
    for i in range(len(textexample)):
      rand=1
      for j in range(len(self.uniqueclass)):
        #Multiplying the probability of each attribute
        totalprob[j]=totalprob[j]*self.attrbiuteobjects[i].values[textexample[i]][j]
    totalsum=sum(totalprob)
    for i in range(len(totalprob)):
      print("The Probability of",self.uniqueclass[i],"is :",totalprob[i]/totalsum)

In [304]:
w=Naive_bayes(x)
w.ProbabilityCalculation()
w.PrintProb()

['No' 'Yes']
probabbilities of each attribute :
Overcast [0.0, 0.4444444444444444]
Rain [0.4, 0.3333333333333333]
Sunny [0.6, 0.2222222222222222]
probabbilities of each attribute :
Cool [0.2, 0.3333333333333333]
Hot [0.4, 0.2222222222222222]
Mild [0.4, 0.4444444444444444]
probabbilities of each attribute :
High [0.8, 0.3333333333333333]
Normal [0.2, 0.6666666666666666]
probabbilities of each attribute :
Strong [0.6, 0.3333333333333333]
Weak [0.4, 0.6666666666666666]

In [305]:
test=['Sunny','Cool','High','Strong']
w.Testing(test)

['Sunny', 'Cool', 'High', 'Strong']
The Probability of No is : 0.795417348608838
The Probability of Yes is : 0.20458265139116202